.footer-section{
    color: white;
    font-family: Cyborg;
    margin: 0;
    text-transform: capitalize;
    background-color: #208CCC;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: inherit;
}

.footer-section-part-one{
    font-weight: 100;
    padding-left: 30px;
    font-size: large;
}
