.footer-section{
    color: #F9FAFA;
    text-transform: capitalize;
    background-color: #1c1c1c;
    margin-top: 30%;
    position: relative;
    
}

.footer-heading{
    font-size: 1rem;
    font-weight: 300;
    line-height: 40px;
}