
.project-heading{
    margin: auto;
    font-size: 40px;
    color: var(--heading-text-color);
    font-family: Cyborg;
    font-weight: 900;
   text-transform: uppercase;
    align-items: center;
    background-color: var(--heading-bg-color);
    border-radius: 12px;
     padding: 0.8rem 2rem;
    width: max-content;
    margin-bottom: 3rem;
}

.project-tech-stack{
    display: flex;
    gap: 10px;
}

.project-tech-stack-svg{
    display: flex;
    align-items: center;
    gap: 10px;
}

.project-tech-stack-svg svg{
    width: 40px;
    height: 40px;
}

.project-links{
    display: flex;
    gap: 10px;
    font-weight: 700;
    align-items: center;
}

.project-links svg{
    width: 40px;
    height: 40px;
}


.single-project{
    display: flex;
    width: 60%;
    height: 300px;
    margin: auto;
    background-color: #e5e7eb;
    justify-content: space-between;
    border-radius: 12px;   
    margin-bottom: 20px;
}

.single-project img{
width: 400px;
color: transparent;
--tw-rotate: -2deg;
transform: translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
border-radius: 0px 10px 10px 0px
}

.project-section{
    display: flex;
    flex-direction: column;
    gap: 84px;
}

.project-titles{
    font-size: 1.5rem;
    line-height:  2rem;
    font-weight: 600;
}

.project-tech-stack p{
    --tw-text-opacity:1;
    color: rgb(107 114 128/var(--tx-text-opacity));
    font-weight: 700;
}

.project-desc-section{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 37px 50px 20px 50px;
    gap: 7px;
    text-align: justify;
}

@media(max-width:768px){
    .single-project{
        display: flex;
        flex-direction: column;
        height: auto;
        margin-bottom: 15px;
    }
    .project-tech-stack-svg{
        display: inline-block;
    }
    .single-project img{
       width: 100%;
    }
}