.social-heading{
    font-size:30px;
    color: #000000;
    font-family: Cyborg;
    font-weight: 900;
    text-transform: uppercase;
    align-items: center;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    padding: 0.8rem 2rem;
    width: max-content;
    margin-bottom: 2rem;
    margin-top: 89px;
}

.social-network-each-link{
    display: flex;
    align-items: center;
    gap: 67px;
    color: var(--social-network-img);
    cursor: pointer;
    height: 4rem;
    position: relative;
    
}

.social-network-section{
    display: flex;
}

.social-network-section-two{
    display: flex;
    padding-right: 15px;
    gap: 10px;

}

.social-links{
 color: var(--social-network-img);
 font-size: 1.2rem;
 font-weight: 600;
}

.social-link-img{
    width: 30px;
    height: 30px;
}

.social-link-img img{
    width: 100%;
    height: 100%;
}

