.tools-heading{
    font-size: 4rem;
    color: var(--tools-heading);
    font-family: "Inconsolata", monospace;
    font-weight: 900;
    align-items: center;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    margin-bottom: 5rem;
    padding: 0.8rem 2rem;
    width: max-content;
}

.skills{
    display: flex;
    justify-content: center;
    padding-top: 15px;
    align-items: center;
    background: var(--box-content-bg-color);
    border-radius: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0.5rem;
    margin-left: 5rem;
    margin-right: 5rem;
    margin-bottom: 5rem;
    row-gap: 43px;
}

.tools-section{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 36px;
}

.box-icon{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box-content{
  display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      /* background-color: #f9f9f9; */
      border-radius: 8px;
      padding: 20px;
      /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
      width: max-content;
      text-align: center;}

.icon{
    height: 100%;
    width: 100%;
}

.box-text{
    font-size: 18px;
    font-weight: 700;
    text-transform: capitalize;
    color: #e5e7eb;
}

/* Tools.css */
.tools-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    gap: 20px;
  }
  
  .tools-heading {
    font-size: 4rem;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .skills-category {
    width: 100%;
    margin-bottom: 20px;
  }
  
  .category-title {
    font-size: 3rem;
    font-weight: bold;
    color: #1c1c1c;
    margin-bottom: 40px;
  }
  
  .skills {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  }
  
  .box-icon img {
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
  }
  
  .box-icon span {
    font-size: 1rem;
    font-weight: 400;
  }
  