.skill{
    color: #e5e7eb;
}

.tools-heading{
    font-size: 40px;
    color: var(--tools-heading);
    font-family: Cyborg;
    font-weight: 900;
    text-transform: uppercase;
    align-items: center;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    margin-bottom: 5rem;
    padding: 0.8rem 2rem;
    width: max-content;
}

.skills{
    display: flex;
    justify-content: center;
    padding-top: 15px;
    align-items: center;
    background: var(--box-content-bg-color);
    border-radius: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0.5rem;
    margin-left: 5rem;
    margin-right: 5rem;
    margin-bottom: 5rem;
    row-gap: 43px;
}

.tools-section{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 36px;
}

.skill{

}

.box-icon{
    width: 78px;
    height: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.box-content{
    align-items: center;
    background: var(--box-content-bg-color);
    color: var(--box-content-text-color);
    border-radius: 8px;
    display: flex;
    flex: 0 1 18%;
    height: 60px;
    justify-content: space-evenly;
    margin: 1%;
    width: 130px;
    font-weight: 600;
    justify-content: center;
    align-items: center;
}

.icon{
    height: 100%;
    width: 100%;
}

.box-text{
    font-size: 18px;
    font-weight: 700;
    text-transform: capitalize;
    color: #e5e7eb;
}